@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --color-white: #fcfcfc;
  --color-light-gray: #dadada;
  --color-dark-gray: #707070;
  --color-light-blue: #1792d2;
  --color-dark-blue: #143774;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: var(--color-dark-blue);
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3,
h4 {
  text-align: left;
  color: var(--color-light-blue);
  padding: 1rem 0;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.125rem;
  color: var(--color-dark-gray);

  span {
    font-weight: 600;
  }
}

.container > * {
  border: 2px solid red;
}

.container {
  max-width: 1126px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header header"
    "main main"
    "sidebar sidebar"
    "footer footer";

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 15rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";
  }

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;

    .main__article {
      padding: 1rem;

      .article__image {
        height: 15rem;
        background-image: url(img/about-me.jpg);
        background-size: 100%;
        background-position: 40% 40%;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 768px) {
          height: 20rem;
          background-size: 100%;
        }
      }
    }
  }

  .main__sidebar {
    grid-area: sidebar;
    padding: 1rem;
  }

  .footer {
    grid-area: footer;
    padding: 1rem;

    background-color: var(--color-dark-blue);

    p {
      text-align: center;
      color: var(--color-white);
    }
  }
}
