@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --red-color: #be3144;
  --gray-dark-color: #35373a;
  --gray-light-color: #303841;
  --blue-color: #45567d;
  --white-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  color: var(--white-color);
}

h2 {
  font-size: 2.5rem;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  box-shadow: 0 5px 5px -5px #000;
  background-color: var(--red-color);

  a {
    text-decoration: none;
    color: var(--white-color);
    font-size: x-large;
    font-weight: 500;
    padding: 1.5rem 1.5rem;
  }

  a:hover {
    background-color: var(--blue-color);
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  width: 100%;
  height: 100vh;
}

.section.about {
  background-color: var(--gray-dark-color);

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
    color: var(--red-color);
    font-style: italic;
  }
}

.section.work {
  background-color: var(--blue-color);
  gap: 2rem;

  h2 {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--white-color);
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .portfolio__item {
      max-width: 350px;
      display: flex;
      flex-direction: column;
      text-decoration: none;

      img {
        width: 100%;
      }

      .item__title {
        background-color: var(--gray-light-color);
        color: var(--white-color);
        text-align: center;
        padding: 1rem;
        display: block;
        font-size: large;
      }

      &:hover .item__title::after {
        content: " />";
      }

      &:hover .item__title::before {
        content: "< ";
      }
    }

    .item__title::after,
    .item__title::before {
      color: orange;
    }
  }

  .btn {
    background-color: var(--gray-dark-color);
    color: var(--white-color);
    border: none;
    padding: 0.8rem;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
  }

  .btn:hover {
    background-color: var(--red-color);
    i {
      transition: 0.3s;
      padding-left: 6px;
    }
  }
}

.section.contacts {
  height: 80vh;
  background-color: var(--gray-light-color);

  p {
    color: var(--white-color);
    font-size: x-large;
    font-style: italic;
  }
}

.social {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  font-size: x-large;

  a {
    position: relative;
    top: 0;
    transition: 0.3s;
    color: var(--white-color);
    text-shadow: #000 3px 3px;
    text-decoration: none;

    &:hover {
      top: 7px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 3rem 1rem;
  border-top: 5px solid var(--red-color);
  background-color: var(--gray-light-color);
  color: var(--white-color);
  font-size: large;
}
