:root * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 996px;
  margin-inline: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .header__menu {
      font-size: 1.8rem;
    }

    .header__logo img {
      width: 250px;
    }
  }

  .main {
    position: relative;
    height: 70vh;

    .main__redball {
      width: 150px;
      height: 150px;
      top: 100px;
      background-color: lightsalmon;
      border-radius: 50%;
      position: absolute;
      right: 0;
    }

    .main__delivery {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      height: 400px;
      background-color: lightgrey;
      position: absolute;
      right: 75px;
      top: 175px;
      padding: 1rem;

      h1 {
        margin-bottom: 20px;
      }
      p {
        padding: 20px 10px 10px 100px;
      }

      button {
        margin-top: 30px;
        border: none;
        background-color: rgb(133, 75, 83);
        padding: 1rem;
        font-size: large;
        margin: 0 auto;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    .main__pica {
      width: 500px;
      height: 500px;
      position: absolute;
      left: 50px;
      background-image: url(img/pizza.webp);
      background-repeat: no-repeat;
      /* background-attachment: fixed; */
      background-position: -100px -70px;
      border-radius: 50%;
    }

    .main__omlet {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 400px;
      background-image: url(img/omlet.png);
      background-position: -50px -15px;
      background-size: cover;
      border-radius: 50%;
      border: 5px solid #fff;
    }

    .main__zebra {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 600px;
      left: 200px;
      background-color: #e5e5f7;
      opacity: 0.8;
      background-size: 10px 10px;
      background-image: repeating-linear-gradient(
        135deg,
        #e018ae 0,
        #e018ae 1px,
        #e5e5f7 0,
        #e5e5f7 50%
      );
      border-radius: 50%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    background-color: lightslategray;
    color: rgb(248, 248, 241);

    .footer__p {
      text-align: center;
    }
  }
}
